/node_modules
/public/storage
/public/imgs/*
/public/css/*
/public/js/*
/public/fonts/
/public/manifest.webmanifest
/public/mix-manifest.json
/storage/*.key
/storage/app/backup/*
/storage/app/backup-temp/*
/storage/app/public/
/storage/temp/*
/storage/logs/*
/config/database.php
/config/mail.php
/vendor
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
